* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 /* Color Palette */
 --color1: #102E52;
 --color2: #01325B;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-login {
    background: skyblue;
    width: 50vw;
    height: 70vh;
    border-radius: 14px;
    
}