@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
 /* Color Palette */
 --color1: #0d153b;
 --color2: #191559;

 /* Fonts */
 --font-pattern: "Oxanium", serif;   
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color2);
}

.section-login {
    background: var(--color1);
    width: 400px;
    height: 600px;
    border-radius: 14px;
}

.section-login > .master-d {
    display: block;
    width: 100%;
    height: 100%;
}

.master-d > .header-d {
    margin-top: 16px;
}

.master-d > .header-d > img {
    display: block;
    width: 120px;
    margin: 0 auto;
}

.master-d > .header-d > h1 {
    font-family: var(--font-pattern);
    font-size: 2.6em;
    text-align: center;
    margin: 16px 0;
    text-shadow: 2px 2px 2px #00000072;
    color: #fff;
}

.master-d > .header-d > hr {
    border: none;
    width: 80%;
    height: 3px;
    background-color: orangered;
    margin: 0 auto;
}

.master-d > .login-inputs {
    
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 16px;
    padding: 8px;
}

.master-d > .login-inputs > label {
    display: block;
    font-family: var(--font-pattern); 
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 12px;
    color: #fff;
}

.master-d > .login-inputs > .input-l {
    display: block;
    width: 100%;
    font-size: 1.1em;
    padding: 12px;
    outline: none;
    border: none;
    border-bottom: 3px solid orangered;
    margin: 8px 0;
    background-color: transparent;
}