
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');

/* 
    <weight>: Use a value from 300 to 900
    <uniquifier>: Use a unique and descriptive class name

    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; 
    
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --color-principal: #031926;
    --color-back: #468189;
    --color-text: #F4E9CD;

    --font-text2: "Frank Ruhl Libre", serif;;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 14vh;
    padding: 20px;

    display: flex;
    justify-content: space-between;

    
    background-color: var(--color-principal);;
}

.menu-h {
    display: block;
    width: 40px;
    height: 40px;
    border: 3px solid #9c9c9c;
    border-radius: 8px;
    background-color: transparent;
}

.menu-s {
    width: 60%;
    height: 3px;
    display: block;
    background-color: #9c9c9c;
    margin: 6px auto;
    transform-origin: center;
}

/* Nav */

nav {
    display: flex;
    align-items:  center;

    
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 12px;
    padding: 6px;
    border-radius: 8px;
    background-color: var(--color-back);
    transition: .4s;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-text2);
}

nav ul li:hover {
    background-color: #3899a6;
    cursor: pointer;
}

/* Main Container */

.container {
    width: 100%;
    height: 86vh;

    background-image: url(../images/image_sp.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
}

/* Texto das curiosidades 1 */

.text1 {
    width: 40px;
    height: 40px;
    overflow: hidden;
    transition: .8s;

    position: absolute;
    top: 8vh;
    left: 6vw;
    border: 5px solid #ffffff;
    border-right: 0;
    border-bottom: 0;
}

.text1 .txt1 {
    position: absolute;
    top: 36vh;
    transition: 1.5s;
}

.text1:hover {
    width: 230px;
    height: 160px;
    border: 5px solid #fff;

    backdrop-filter: blur(5px);
}

.text1:hover .txt1 {
    top: 0;
    
}

p {
    color: #fff;
    padding: 8px;
    text-align: center;
    text-shadow: 3px 3px 6px #000;
}

/* Texto das curiosidades 2 */

.text2 {
    width: 200px;
    height: 180px;
    border-bottom: 5px solid #fff;
    overflow: hidden;

    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    transition: .8s;
}

.text2 .txt2 {
    position: absolute;
    top: 100%;
    transition: 1.5s
}

.text2:hover {
    backdrop-filter: blur(5px);
    border: 5px solid #fff;
}

.text2:hover .txt2 {
    top: 0;
}

/* Texto das curiosidades 3 */

.text3 {
    width: 40px;
    height: 40px;
    border: 5px solid #ffffff;
    border-left: 0;
    border-bottom: 0;
    overflow: hidden;
    transition: .8s;

    position: absolute;
    top: 25vh;
    right: 6vw;
}

.text3 .txt3 {
    position: absolute;
    top: 40vh;
    transition: 1.5s;
}

.text3:hover {
    width: 230px;
    height: 160px;
    border: 5px solid #fff;

    backdrop-filter: blur(5px);
}

.text3:hover .txt3 {
    top: 0;
}


