@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-padrao);
}

:root {
    --font-padrao: "Oxanium", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.texto {
    font-size: 6em;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;

    background-image: linear-gradient(45deg, #1100ff, #8c00ff, #ff00fb, #1100ff);
    background-size: 400% 100%;

    animation: gradient-text 6s linear infinite alternate;
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient-text {

    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
    
}