* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-h ul{
    list-style: none;
    padding: 0;
    background-color: #393737;
}


#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    transition: .7s;
    border-radius: 10px;
}

#menu-h ul li a:hover {
    background-color: rgb(0, 0, 0);
    color: #0aa5ff;
}
