*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.box-degrade {
    width: 100%;
    padding: 300px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #CAF0F8, #ADE8F4, #90E0EF, #48CAE4, #00B4D8, #0096C7, #0077B6, #023E8A, #03045E);
    background-size: 500%, 100%;

    animation: fade-b 2s infinite alternate;
}

@keyframes fade-b {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}